.header__lang-buttom {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  text-align: right;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .header__lang-buttom {
    font-size: 18px;
    line-height: 1.11;
  }
}

.header__lang-buttom:hover {
  opacity: 0.5;
  transform: opacity 0.5s ease-in;
}
