.place__paragraph {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 161.1%;
  /* or 29px */
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  /* word-break: break-word; */
}


@media (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 162.5%;
  }
}