.cover__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  /* or 106% */

  text-align: center;

  color: #FFFFFF;
  margin: 0 auto;
  max-width: 47.3%;
  padding-top: 245px;
  
}

@media screen and (max-width: 1279px) {
  .cover__title {
    max-width: 54.7%;
    padding-top: 195px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__title {
    max-width: 72.9%;
    padding-top: 115px;
  }
}


@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 54%;
    padding-top: 65px;
    font-size: 38px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    max-width: 90%;
    padding-top: 33px;
    font-size: 32px;
  }
}
